<div><%= comment.body %> -- <%= comment.created_at.to_s(:long) %> <div style="background-color: red"> <%= link_to "Delete",[comment.post, comment], method: :delete, data:{confirm: "Are you sure? "} %></div></div>
